<ion-content>
  <!-- MENU -->
  <div>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </div>

  <!-- USER DATA -->
  <div class="top">
    <div class="nameText">
      <p>Hi <span>User</span></p>
      <small>2023</small>
    </div>
    <div class="imageThumbnail">
      <img src="../../../assets/users/defaultUser.png" />
    </div>
  </div>

  <!-- INDICADORES -->
  <div class="middleBox">
    <div class="indicator_exp" (click)="goToExpensesDetail()">
      <img src="../../../assets/icon/cost.png" />
      <p>{{expenses | currency}}</p>
      <h6>Expenses</h6>
    </div>
    <div class="indicator_ear">
      <img src="../../../assets/icon/profit.png" />
      <p>$600</p>
      <h6>Earnings</h6>
    </div>
  </div>

  <!-- OPCIONES -->
  <div class="optionsDiv">
    <div class="gridDiv">
      <div class="box" (click)="goToCategories()">
        <img src="../../../assets/icon/categories.png" />
        <p>Categories</p>
      </div>
      <div class="box" (click)="goToProducts()">
        <img src="../../../assets/icon/products.png" />
        <p>Products</p>
      </div>
      <div class="box">
        <img src="../../../assets/icon/sellers.png" />
        <p>Sellers</p>
      </div>
      <div class="box">
        <img src="../../../assets/icon/clients.png" />
        <p>Customers</p>
      </div>
      <div class="box">
        <img src="../../../assets/icon/sales.png" />
        <p>Sales</p>
      </div>
    </div>
  </div>
</ion-content>
