<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- MENU -->
  <div>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </div>

  <!-- USER DATA -->
  <div class="top">
    <div class="nameText">
      <p>Hi <span>User</span></p>
      <small>2023</small>
    </div>
    <div class="imageThumbnail">
      <img src="../../../assets/users/defaultUser.png" alt="" />
    </div>
  </div>

  <!-- INDICADORES -->
  <div class="middleBox">
    <div class="indicators">
      <img src="../../../assets/icon/cost.png" alt="" />
      <p>$500</p>
      <h6>Expenses</h6>
    </div>
    <div class="indicators">
      <img src="../../../assets/icon/profit.png" alt="" />
      <p>$600</p>
      <h6>Earnings</h6>
    </div>
  </div>

  <!-- OPCIONES -->
  <div class="optionsDiv">
    <div class="gridDiv">
      <div class="box">
        <img src="" alt="" />
        <p>Categories</p>
      </div>
      <div class="box">
        <img src="" alt="" />
        <p>Products</p>
      </div>
      <div class="box">
        <img src="" alt="" />
        <p>Sellers</p>
      </div>
      <div class="box">
        <img src="" alt="" />
        <p>Customers</p>
      </div>
    </div>
  </div>
</ion-content>
