.custom-card-title {
  margin-bottom: 25px;
}

ion-card-subtitle {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

.div-btns {
  margin-top: 20px;
  text-align: center;
  .login-btn {
    --ion-color-primary: #023059;
  }
}
