form {
  background-color: white;
  width: 100vw;
  height: 100%;
  .frmDiv {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    ion-label {
      color: #020540;
    }
  }
  ion-select,
  ion-input,
  ion-textarea {
    margin-top: 6px;
    border-bottom: 2px solid #020540;
    &.is-invalid {
      --placeholder-color: red;
      --placeholder-opacity: 1;
    }
  }
}

.imgDiv {
  display: flex;
  justify-content: center;
  ion-card {
    width: 50%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    .upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      ion-icon {
        font-size: 50px;
      }
    }
    .delete {
      position: absolute;
      top: 5px;
      right: 5px;
      ion-icon {
        color: red;
        font-size: 25px;
      }
    }
  }
}
