<ion-content>
  <ion-card class="custom-card">
    <!-- Detalles del encabezado -->
    <ion-card-header>
      <div class="crd-title">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-label class="custom-card-title"> Sign Up </ion-label>
      </div>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formSignUp" (ngSubmit)="registUsr()" class="wrapForm">
        <ion-item>
          <ion-icon name="id-card-outline"></ion-icon>
          <ion-input
            type="text"
            name="usrNombre"
            formControlName="usrNombre"
            placeholder="Name: (ex: Jhon Smith)"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            type="text"
            name="usrMail"
            formControlName="usrMail"
            placeholder="E-mail: (ex: jperez@mail.com)"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input
            type="text"
            name="usrNick"
            formControlName="usrNick"
            placeholder="Nickname"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input
            type="password"
            name="ustPwd"
            formControlName="ustPwd"
            placeholder="Password"
            required
          ></ion-input>
        </ion-item>
        <div class="sign-btn-wrap">
          <ion-button type="submit" shape="round" fill="solid" class="sign-btn">
            Sign up
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <!-- Redireccionar al login -->
  <div class="card-footer">
    <span>Already have an account?</span>
    <button class="ion-no-padding">Sign In</button>
  </div>
</ion-content>
