.listCat {
  .item {
    margin-bottom: 3px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .edit-btn {
    --background: #023059;
  }
  .delete-btn {
    --background: #e45757;
  }
}

ion-fab-button {
  --background: #020540;
  --background-activated: #023059;
}
